<%- include('partials/header-auth') %>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card text-center shadow-lg p-4">
          <h1 class="mb-3">You have signed out!</h1>
          <p class="lead mb-4">Thank you for visiting. We hope to see you again soon!</p>
          
          <!-- Button to redirect to login page -->
          <a href="/login" class="btn btn-primary w-100">Login Again</a>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('partials/footer') %>
