<%- include('partials/header-auth') %>

    <% if(locals.isExist) {%>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row w-100">
              <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <div class="card text-center shadow-lg border-0">
                  <div class="card-body">
                    <h2 class="mb-3 display-5 font-weight-bold">Create a New Password</h2>
                    <p class="lead text-muted mb-4">Please enter your new password below.</p>
          
                    <!-- Form for setting a new password -->
                    <form action="/set-new-password" method="POST" novalidate>
                      <div class="form-group mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter your new password" required>
                        <div class="invalid-feedback">
                          Please enter a new password.
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="confirmPassword" class="form-label">Re-enter New Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Re-enter your new password" required oninput="this.setCustomValidity(this.value !== document.getElementById('newPassword').value ? 'Passwords do not match.' : '');">
                        <div class="invalid-feedback">
                          Password do not match
                        </div>
                      </div>
                      <button type="submit" class="btn btn-dark btn-lg w-100">Reset Password</button>
                    </form>
          
                    <div class="mt-3">
                      <a href="/login" class="link-primary text-decoration-none">Remembered your password? Log in</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% } else { %>
        <div class="container d-flex justify-content-center mx-auto">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card text-center shadow-lg p-4">
                  <h2 class="mb-3">Forgot Your Password ?</h2>
                  <p class="lead text-muted mb-4">Don't worry! Enter your email address below to receive instructions on how to reset your password.</p>
          
                  <!-- Form for password reset -->
                  <form action="/reset-password" method="post" novalidate>
                    <div class="form-group mb-3">
                      <label for="email" class="form-label">
                        <% if (locals.isExist == false) { %>
                            <p class="text-danger fs-5">This email is not registered, Try again</p>
                          <% } else {%>
                        Email Address
                        <% } %>
                    </label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
                      <div class="invalid-feedback">
                        Please enter a valid email address.
                      </div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Verify Email</button>
                  </form>
          
                  <div class="mt-3">
                    <a href="/login" class="link-primary text-decoration-none">Remembered your password? Log in</a>
                  </div>
                </div>
              </div>
            </div>
          </div>      
    <% } %>

  <script>
  // Bootstrap form validation for the Forgot Password form
  (function () {
    'use strict';
    var form = document.querySelector('form');
  
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  })();
  </script>
  

<%- include('partials/footer') %>