<%- include('partials/header-auth') %>


<div class="jumbotron text-center py-5">
  <div class="container">
    <i class="fas fa-key fa-6x mb-4" aria-hidden="true"></i>
    <h1 class="display-3 font-weight-bold">Welcome to Our Community!</h1>
    <p class="lead text-muted">Explore captivating book reviews and share your thoughts with fellow book lovers! 📚✨</p>    
    <hr class="my-4">
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-outline-primary btn-lg mx-2" href="/register" role="button">Register</a>
      <a class="btn btn-outline-primary btn-lg mx-2" href="/login" role="button">Login</a>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
